extends layout.pug

block content
  .row
    each movie in movies
      h4 Title: #{movie.title}
      h4 Genre: #{movie.genre}
      h4 Review: #{movie.review}
      h4 Poster:
      img(src=movie.poster alt='poster' height='360' width='240')
      br
      a(href='/add-movie/'+movie._id) More Details
    h2 Add your movie here:
      form(method='POST' action='/add-movie')
        input(type='text', placeholder='Title' name='title' required)
        input(type='text', placeholder='Genre' name='genre')
        input(type='text', placeholder='Year' name='year')
        input(type='text', placeholder='Description' name='description')
        input(type='text', placeholder='Review' name='review' required)
        button(type='submit') Submit
    a(href='/apiTestForm.html') API Test
