html
  head
    title Favorite Movie List
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
  body
    h1 Welcome to Favorite Movie List! Add your favorite movies!
    block content
